.signature {
  font: var(--ifm-code-font-size) / var(--ifm-pre-line-height) var(--ifm-font-family-monospace);
  background-color: #e8f3ff;
  border-radius: var(--ifm-global-radius);
  padding: var(--ifm-pre-padding);
  margin-bottom: var(--ifm-leading);
}
.signature p {
  padding: 0;
  margin: 0;
}
html[data-theme="dark"] {
  .signature {
    background-color: #393c4a;
  }
}
