<ul class='column'>
	<li class='group'>Tasks</li>
	<li><a href='desktop__loading_storing_data.html'>Loading</a></li>
	<li><a href='desktop__task_bars.html'>Operations</a></li>
	<li><a href='desktop__styling.html'>Look &amp; Feel</a></li>
</ul>

<ul class='column'>
	<li class='group'>Configuration</li>
	<li><a href='desktop__table.html'>Grid</a></li>
	<li><a href='desktop__time_scale.html'>Scales</a></li>
	<li><a href='desktop__edit_form.html'>Lightbox</a></li>
	<li><a href='desktop__dependencies.html'>Links</a></li>
</ul>

<ul class='column'>
	<li class='group'>PRO Edition</li>
	<li><a href='desktop__critical_path.html'>Critical Path</a></li>
	<li><a href='desktop__milestones.html'>Milestones</a></li>
	<li><a href='desktop__baselines.html'>Baselines</a></li>
</ul>

<ul class='column'>
	<li class='group'>Similar Components</li>
	<li><a href='https://docs.dhtmlx.com/scheduler/index.html'>Scheduler</a></li>
	<li><a href='https://docs.dhtmlx.com/pivot/index.html'>Pivot</a></li>
	<li><a href='https://docs.dhtmlx.com/diagram/index.html'>Diagram</a></li>
	<li><a href='http://scheduler-net.com/'>Scheduler .Net</a></li>
</ul>

<ul class='column'>
	<li class='group'>API</li>
	<li><a href='api__refs__gantt_events.html'>Events</a></li>
	<li><a href='api__refs__gantt_methods.html'>Methods</a></li>
	<li><a href='api__refs__gantt_props.html'>Properties</a></li>
	<li><a href='api__refs__gantt_templates.html'>Templates</a></li>
</ul>
