    <div class="arrow-down"><div></div></div>
    <div class="wrapper-components-links">
        <div class="inside-components-links">
            <a href="desktop__howtostart_guides.html" class="item-component-link">
                <h3>Getting Started</h3>
                <div class='bottom_icon0'></div>
                <p>Learn a basic development stuff to start building your first Gantt chart</p>
            </a>
            <a href="desktop__guides.html" class="item-component-link">
                <h3>Guides</h3>
                <div class='bottom_icon1'></div>
                <p>Discover detailed guides and learn how to use the powerful features of dhtmlxGantt</p>
            </a>
            <a href="$${samples_http}index.html" class="item-component-link">
                <h3>Demos</h3>
                <div class='bottom_icon2'></div>
                <p>Check out the live demos to see what you can do with dhtmlxGantt</p>
            </a>
            <a href="api__refs__gantt.html" class="item-component-link">
                <h3>API Reference</h3>
                <div class='bottom_icon3'></div>
                <p>Look up the required method, property or event in the detailed API reference </p>
            </a>
        </div>        
    </div>